.ssh
.config/dconf
.config/libreoffice
.config/chromium
.local/state
.local/share
.config/hypr/idle.conf
.cargo
.cache
.gnupg
.gemini
.electron-gyp
.bash_history
.dotfiles
.gitconfig
.ftb
.node_repl_history
.vim

Desktop
Downloads

go
.wget-hsts
.viminfo
.python_history
.psql_history
.pulse-cookie
.pki
.npm
.mongodb
.vagrant.d
.kube
.jdks
.java
.docker


.steampid
.steampath
.steam
