set completion-ignore-case on
set show-all-if-ambiguous on
set show-all-if-unmodified on
"\e[A": history-search-backward
"\e[B": history-search-forward
set mark-symlinked-directories on
set match-hidden-files off
set skip-completed-text on
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
set visible-stats on
set colored-stats on
set completion-query-items 200
